body{
    text-align: center;
    background-color: rgb(193, 195, 196);
}
.table{
    margin: auto;
    background-color: rgb(21, 22, 45);
}
input{
    font-size: 25px;
    border-radius: 10px;
    width:400px;
}
button{
    font-size: 35px;
    border-radius: 6px;
    background-color:dimgrey;
    width:100px;
    height:50;
}